<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>The Footer</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" href="../../static/css/books-app.css" th:href="@{/css/books-app.css}">
    </head>
    <body>

        <footer id="footer" th:fragment="cloudy-footer">
            <div class="container">
                <div class="row">
                    <div class="footer-top-area">
                        <div class="row d-flex flex-wrap justify-content-between">
                            <div class="col-lg-5 col-sm-6 pb-3">
                                <div class="footer-menu">
                                    <a class="d-none d-md-block" href="/">
                                        <img src="../../static/images/book-club-logo.jpeg" alt="logo"
                                             th:src="@{/images/book-club-logo.jpeg}">
                                    </a>
                                    <p>
                                        <b>The Cloudy Book Club</b> - <span class="fst-italic">reminding me of what books I have read recently so I don't buy them again!</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6 pb-3">
                                <div class="footer-menu">
                                    <h5 class="widget-title pb-2">Usual stuff</h5>
                                    <ul class="menu-list list-unstyled">
                                        <li class="menu-item pb-2">
                                            <a href="/books/stats">Book review stats</a>
                                        </li>
                                        <li class="menu-item pb-2">
                                            <a href="/tandcs">Help and T&amp;Cs</a>
                                        </li>
                                        <li class="menu-item pb-2">
                                            <a href="/privacy">Privacy</a>
                                        </li>
                                        <li class="menu-item pb-2">
                                            <a href="/feeds/rss">RSS feed</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6 pb-3">
                                <div class="footer-menu">
                                    <h5 class="widget-title pb-2">Software</h5>
                                    <ul class="menu-list list-unstyled ">
                                        <li class="menu-item pb-2">
                                            <a href="https://github.com/aidanwhiteley/books">Code - server side</a>
                                        </li>
                                        <li class="menu-item pb-2">
                                            <a href="https://github.com/aidanwhiteley/books-react">Code - front end</a>
                                        </li>
                                        <li class="menu-item pb-2">
                                            <a href="https://cloudybookclub.com/swagger-ui/index.html">API - read only</a>
                                        </li>
                                        <li class="github-stars">
                                <span>
                                  <span></span>
                                </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 pb-3">
                                <div class="footer-menu contact-item">
                                    <h5 class="widget-title pb-2">Contact Us</h5>
                                    <p>Do you have any queries or suggestions? <a href="mailto:support@cloudybookclub.com?subject=The Cloudy Book Club - contact from website">support@cloudybookclub.com</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="footer-bottom">
            <div class="container">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-md-4 col-sm-6"></div>
                    <div class="col-md-4 col-sm-6">
                        <div class="copyright">
                            <p class="text-center">© Copyright 2024 <a href="https://aidanwhiteley.com/">Aidan Whiteley</a>. </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6"></div>
                </div>
            </div>
        </div>

    </body>
</html>