<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.boot.autoconfigure.security.oauth2" level="WARN" />
    <logger name="org.springframework.web.client" level="WARN" />
    <logger name="com.aidanwhiteley.books.controller.UserController" level="WARN" />
    <logger name="com.aidanwhiteley.books.controller.aspect" level="WARN" />
    <logger name="org.springframework.web.client.RestTemplate" level="WARN" />
</configuration>