<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Table of books component</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/css/books-app.css" th:href="@{/css/books-app.css}">
</head>
<body>

    <h3>Table of books the Cloudy Book Club</h3>

                    <div id="detail" th:fragment="cloudy-table">



                    </div>
</body>
</html>
