<!DOCTYPE html>
<html lang="en-GB" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Swiper carousel component</title>
    <meta charset="utf-8">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="../../static/css/books-app.css" rel="stylesheet" th:href="@{/css/books-app.css}">
</head>

<body>

    <h3>Swiper carousel component for the Cloudy Book Club</h3>

    <div id="detail" th:fragment="cloudy-swiper">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper" id="swiper-slides" th:fragment="cloudy-swiper-slides">
                <div class="swiper-slide" th:each="book : ${books}">
                    <a href="#" th:href="@{/bookreview(bookId=${book.id})}">
                        <img alt="Book cover"
                             loading="lazy"
                             src="../../static/images/book-club-logo.jpeg" th:alt="${'Book cover for ' + book.title}"
                             th:src="${#strings.replace(book.googleBookDetails.volumeInfo.imageLinks.thumbnail, 'http://', 'https://')}"></a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="text-center">
            <p class="text-center carousel-info">Books recently reviewed on The Cloudy Book Club with
                a <span th:text="${rating}"></span> rating</p>

            <div aria-label="Book rating selection button group" class="btn-group" role="group">
                <input class="btn-check" hx-get="/getBooksByRating?rating=great"
                       hx-swap="outerHTML" hx-target="#swiper-slides" hx-target-error="#detail" id="greatBooks"
                       name="bookRating" th:checked="${rating=='great'}" type="radio">
                <label class="btn btn-outline-primary" for="greatBooks">Great books</label>

                <input class="btn-check" hx-get="/getBooksByRating?rating=good"
                       hx-swap="outerHTML" hx-target="#swiper-slides" hx-target-error="#detail" id="goodBooks"
                       name="bookRating" th:checked="${rating=='good'}" type="radio">
                <label class="btn btn-outline-primary" for="goodBooks">Good books</label>

                <input class="btn-check" hx-get="/getBooksByRating?rating=ok"
                       hx-swap="outerHTML" hx-target="#swiper-slides" hx-target-error="#detail" id="okBooks"
                       name="bookRating" th:checked="${rating=='ok'}" type="radio">
                <label class="btn btn-outline-primary" for="okBooks">OK books</label>
            </div>
        </div>

    </div>
</body>

</html>