<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::#detail}, false)}"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cloudy Book Club - Write a book review</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" href="../static/css/books-app.css" th:href="@{/css/books-app.css}">
        <script src="../static/js/htmx.min.js" th:src="@{/js/htmx.min.js}"></script>
    </head>
    <body>

        <div id="detail">

            <div class="container">
                <h4>Enter your review of a book you have read</h4>

                <form th:object="${bookData}" th:action="@{/createreview}" method="post" class="row g-3" novalidate th:fragment="cloudy-book-review-form"> 

                    <div class="col-md-6">
                        <label for="title">Book Title</label>
                        <input type="text" id="title" name="title" class="form-control" placeholder="Enter the book title" th:field="*{title}" />
                        <p th:if="${#fields.hasErrors('title')}" th:text="${#strings.listJoin(#fields.errors('title'), ', ')}"></p>
                    </div>

                    <div class="col-md-6">
                        <label for="title">Author</label>
                        <input type="text" id="author" name="author" class="form-control" placeholder="Enter the author's name" th:field="*{author}" />
                        <p th:if="${#fields.hasErrors('author')}" th:text="${#strings.listJoin(#fields.errors('author'), ', ')}"></p>
                    </div>

                    <div class="col-md-4">
                        <label for="rating">Your Rating Of The Book</label>
                        <select id="rating" name="rating" class="form-control">
                            <option value="2">Select a rating...</option>
                            <option value="4">Great</option>
                            <option value="3">Good</option>
                            <option value="2">OK</option>
                            <option value="1">Poor</option>
                            <option value="0">Terrible</option>
                        </select>
                        <p th:if="${#fields.hasErrors('rating')}" th:text="${#strings.listJoin(#fields.errors('rating'), ', ')}"></p>
                    </div>

                    <div class="col-md-8">
                        <label for="genre">Genre</label>
                        <select id="genre" class="" data-placeholder="Start typing a genre..."
                            autocomplete="off" name="genre">
                            <option th:each="genre : ${genres}" th:value="${genre.genre}"
                                th:text="${genre.genre + ' - ' + genre.countOfBooks + ' books'}">Novel - 20 books</option>
                        </select>
                        <p th:if="${#fields.hasErrors('genre')}" th:text="${#strings.listJoin(#fields.errors('genre'), ', ')}"></p>
                    </div>

                    <div class="col-md-12">
                        <label for="summary">Your review / summary</label>
                        <textarea id="summary" name="summary" rows={8} class="form-control" placeholder="What did you think of the book?"
                            aria-describedby="summaryHelpBlock" th:field="*{summary}"></textarea>
                        <small id="summaryHelpBlock" class="form-text">
                            Enter anything you like that may help someone else to decide whether the book is worth reading or not.
                            Probably best not to say what the ending is!
                            HTML formatting is not supported.<br />
                            Remember: all entries are publicly visible.
                        </small>
                        <p th:if="${#fields.hasErrors('summary')}" th:text="${#strings.listJoin(#fields.errors('summary'), ', ')}"></p>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn btn-outline-primary btn-wd me-3">Save book review</button>
                        <button type="button" class="btn btn btn-outline-secondary btn-wd">Cancel</button>
                    </div>
                    
                </form>
            </div>


            <script src="../static/js/tom-select.base.min.js" th:src="@{/js/tom-select.base.min.js}"></script>
            <script>
                let selectControls = [];
                htmx.onLoad(function (elt) {
                    const allSelects = htmx.findAll(elt, "#genre");
                    allSelects.forEach((el) => {
                        console.log(el);
                        if (!el.tomselect) {
                            console.log('Running TomSelect init');
                            try {
                                selectControls.push(new TomSelect(el, {
                                    create: false,
                                    highlight: true,
                                    allowEmptyOption: false,
                                    maxItems: 1,
                                    items: [],
                                    sortField: [{ field: '$order' }, { field: '$score' }]
                                }));
                            } catch (err) {
                                console.log(err);
                            }
                        } else {
                            console.log('Skipping - already TomSelect init');
                        }
                    }
                    )
                });
    
            </script>

        </div>

    </body>

</html>
