<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::#detail}, false)}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cloudy Book Club - Write a book review</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/books-app.css" th:href="@{/css/books-app.css}">
    <script src="../static/js/htmx.min.js" th:src="@{/js/htmx.min.js}"></script>
</head>

<body>

    <div id="detail">

        <div class="container">
            <h4>Enter your review of a book you have read</h4>

            <form id="createreviewform" action="#" th:action="@{/createreview}" th:object="${bookForm}"  class="row g-3" novalidate
                  method="post" th:fragment="cloudy-book-review-form">

                <div class="col-md-6">
                    <label for="title">Book Title</label>
                    <input type="text" id="title" name="title" class="form-control" placeholder="Enter the book title"
                        th:field="*{title}" th:errorclass="is-invalid" />
                    <p th:if="${#fields.hasErrors('title')}" class="invalid-feedback"
                        th:text="${#strings.listJoin(#fields.errors('title'), ', ')}"></p>
                </div>

                <div class="col-md-6">
                    <label for="title">Author</label>
                    <input type="text" id="author" name="author" class="form-control"
                        placeholder="Enter the author's name" th:field="*{author}"
                        hx-get="/googlebooks?index=0" hx-trigger="focusout" hx-target="#googleBookCandidates" 
                        hx-include="#title" th:errorclass="is-invalid" />
                    <p th:if="${#fields.hasErrors('author')}" class="invalid-feedback"
                        th:text="${#strings.listJoin(#fields.errors('author'), ', ')}"></p>
                </div>

                <div class="col-md-4">
                    <label for="rating">Your Rating Of The Book</label>
                    <select id="rating" th:field="*{rating}" class="form-control" th:errorclass="is-invalid">
                        <option th:value="'NO_VALUE_SELECTED'" th:text="'Select a rating...'"></option>
                        <option th:value="'GREAT'" th:text="Great"></option>
                        <option th:value="'GOOD'" th:text="Good"></option>
                        <option th:value="'OK'" th:text="OK"></option>
                        <option th:value="'POOR'" th:text="Poor"></option>
                        <option th:value="'TERRIBLE'" th:text="Terrible"></option>
                    </select>
                    <p th:if="${#fields.hasErrors('rating')}" class="invalid-feedback"
                        th:text="${#strings.listJoin(#fields.errors('rating'), ', ')}"></p>
                </div>

                <div class="col-md-8">
                    <label for="genre">Genre</label>
                    <select id="genre" class="form-control" placeholder="Start typing a genre..." autocomplete="off"
                        name="genre" th:field="*{genre}" th:errorclass="is-invalid">
                        <option value="">Start typing a genre...</option>
                        <option th:each="genre : ${genres}" th:value="${genre.genre}"
                            th:text="${genre.genre + ' - ' + genre.countOfBooks + ' books'}">Novel - 20 books</option>
                    </select>
                    <p th:if="${#fields.hasErrors('genre')}" class="invalid-feedback"
                        th:text="${#strings.listJoin(#fields.errors('genre'), ', ')}"></p>
                </div>

                <div class="col-md-12">
                    <label for="summary">Your review / summary</label>
                    <textarea id="summary" name="summary" rows="8" class="form-control"
                            placeholder="What did you think of the book?" aria-describedby="summaryHelpBlock"
                            th:field="*{summary}" th:errorclass="is-invalid"></textarea>
                    <p class="invalid-feedback" th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}">Invalid summary</p>
                    <small id="summaryHelpBlock" class="form-text">
                        Enter anything you like that may help someone else to decide whether the book is worth reading
                        or not.
                        Probably best not to say what the ending is!
                        HTML formatting is not supported.<br />
                        Remember: all entries are publicly visible.
                    </small>
                </div>

                <div id="googleBookCandidates" th:fragment="cloudy-google-book-candidates" class="row mt-5">

                    <div th:if="${(googleBookSearchResult != null) and (googleBookSearchResult.item == null)}">
                        <div class="alert alert-warning" role="alert">
                            We didn't find any matching books on Google Books. This may be correct but please do check what is
                            entered
                            in the <b>Book Title</b> and <b>Author</b> fields above.
                        </div>
                    </div>

                    <div class="col-md-8" th:if="${googleBookSearchResult != null and googleBookSearchResult.item  != null}">
                        <h5 th:if="${googleBookSearchResult.item.volumeInfo}"
                            th:text="${googleBookSearchResult.item.volumeInfo.title}">A book title</h5>
                        <p>
                            <img th:if="${googleBookSearchResult.item.volumeInfo?.imageLinks?.thumbnail}"
                                 src="https://books.google.com/books/content?id=VDRePgAACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api"
                                 th:src="${#strings.replace(googleBookSearchResult.item.volumeInfo.imageLinks.thumbnail, 'http://', 'https://')}"
                                 alt="A book cover image from Google" class="rounded float-start googleBookImageImport" />
                            <span th:text="${googleBookSearchResult.item.volumeInfo.description}">Google books description</span>
                        </p>
                        <p th:if="${googleBookSearchResult.item.volumeInfo.authors}">
                            By: <span th:text="${#strings.arrayJoin(googleBookSearchResult.item.volumeInfo.authors, ',')}">An author</span>
                        </p>
                    </div>

                    <div class="col-md-4" th:if="${googleBookSearchResult != null and googleBookSearchResult.item != null}">
                        <div class="googleBookText card">
                            <h5>Have we found the right book?</h5>
                            <p>Does this look like the book you've read? If not, please try the scroll buttons to see alternatives
                                and then click the check box if you find a good match.</p>
                            <p>If none of the options look like a good match, please untick the check box.</p>

                            <div class="bookMatchControl d-flex align-items-center justify-content-center">
                                <input class="form-check-input" type="checkbox" th:checked="true" id="checkBoxBookMatch"
                                       aria-label="Click if book matches" />
                            </div>

                            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                                <button type="button" th:disabled="${googleBookSearchResult.hasPrevious == false}"
                                        th:hx-get="@{/googlebooks(index=${index - 1},title=${booktitle},author=${author})}"
                                        hx-target="#googleBookCandidates" hx-swap="outerHTML"
                                        class="btn btn-outline-primary previous-button" aria-label="Previous">&laquo; Previous</button>
                                <button type="button" th:disabled="${googleBookSearchResult.hasMore == false}"
                                        th:hx-get="@{/googlebooks(index=${index + 1},title=${booktitle},author=${author})}"
                                        hx-target="#googleBookCandidates" hx-swap="outerHTML"
                                        class="btn btn-outline-primary next-button" aria-label="Next">Next &raquo;</button>
                            </div>

                            <input type="hidden" th:value="${googleBookId}" name="googleBookId" id="googleBookId">
                            <input type="hidden" th:value="${index}" name="index" id="index">
                        </div>
                    </div>

                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn btn-outline-primary btn-wd me-3">Save book review</button>
                    <button type="button" class="btn btn btn-outline-secondary btn-wd">Cancel</button>
                </div>

            </form>
        </div>


        <script src="../static/js/tom-select.base.min.js" th:src="@{/js/tom-select.base.min.js}"></script>
        <script>
            let selectControls = [];
            htmx.onLoad(function (elt) {
                const allSelects = htmx.findAll(elt, "#genre");
                allSelects.forEach((el) => {
                    console.log(el);
                    if (!el.tomselect) {
                        console.log('Running TomSelect init');
                        try {
                            selectControls.push(new TomSelect(el, {
                                create: true,
                                sortField: [{ field: '$order' }, { field: '$score' }]
                            }));
                        } catch (err) {
                            console.log(err);
                        }
                    } else {
                        console.log('Skipping - already TomSelect init');
                    }
                }
                )
            });

        </script>

    </div>

</body>

</html>