<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::#detail}, false)}"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cloudy Book Club - Find A Book Review</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" href="../static/css/tom-select.css" th:href="@{/css/tom-select.css}">
        <link rel="stylesheet" href="../static/css/books-app.css" th:href="@{/css/books-app.css}">
    </head>
    <body>

        <div id="detail">
            <h2>Find a book review</h2>
            <div classame="row">
                <div class="col-sm mb-4">
                    <h3 class="finder-header">Find Reviews By Rating</h3>
                    <select id="select-beast" placeholder="Select a person..." autocomplete="off">
                        <option value="">Select a person...</option>
                        <option value="4">Thomas Edison</option>
                        <option value="1">Nikola</option>
                        <option value="3">Nikola Tesla</option>
                        <option value="5">Arnold Schwarzenegger</option>
                    </select>
                </div>
                <div class="col-sm mb-4">


                </div>
                <div class="col-sm mb-4">


                </div>
            </div>
        </div>

        <script src="../../static/js/tom-select.base.min.js" th:src="@{/js/tom-select.base.min.js}"></script>
        <script>
            new TomSelect("#select-beast",{
                create: false,
                sortField: {
                    field: "text",
                    direction: "asc"
                }
            });
        </script>

    </body>
</html>
