<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::#detail}, true)}"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cloudy Book Club - Home</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" href="../static/css/index-DtXW5y8S.css" th:href="@{/css/index-DtXW5y8S.css}">
    </head>
    <body>

        <div id="detail" th:replace="~{components/swiper :: cloudy-swiper}">
            <p>The Swiper based <a class="ms-1 me-1" href="./components/swiper.html">carousel</a> will go here.</p>
        </div>

    </body>
</html>
