<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The Cloudy Bookclub</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aidan Whiteley">
    <meta name="keywords" content="Cloudy Book Club">
    <meta name="description" content="Books read recently (so I don't buy them again!)">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/index-DtXW5y8S.css" th:href="@{/css/index-DtXW5y8S.css}">
</head>
<body>
<div id="root">

    <section data-bs-theme="light" class="navbar navbar-expand-xl navbar-light bg-light sticky-top ps-5" th:replace="~{common/nav::nav}" >
        The <a class="ms-1 me-1" href="./common/nav.html">Nav Bar</a> Goes Here
    </section>

    <section id="main-content" class="">
        <div class="container-fluid">
            <div class="row d-flex align-items-center">
                <div id="detail" class="">
                    <div class="swiper swiper-coverflow swiper-3d swiper-initialized swiper-horizontal swiper-watch-progress mySwiper">
                        <div class="swiper-wrapper" style="cursor: grab; transition-duration: 0ms; transition-delay: 0ms; transform: translate3d(-435.5px, 0px, 0px);">
                            <div class="swiper-slide" data-book-id="5dea13b154ef0632c9a159dc" data-swiper-slide-index="22" style="transition-duration: 0ms; transform: translate3d(50px, 0px, -150px) rotateX(0deg) rotateY(100deg) scale(1); z-index: -4;">
                                <img src="https://books.google.com/books/content?id=PzSGDwAAQBAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;imgtk=AFLRE73e0yy-s8YzhmA_mOIL0Mh1_jLYyXyK4sfFAbEErN-CAHjcCvFywc2DJhe9eu0dCaUi4p77MzoaHbSBhjnYmG3CylzaP_Bz9lVTAHQlwqItPRbm5HGG17NA9_4gjKftMDxyaPbP&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide swiper-slide-visible" data-book-id="5dcda39154ef0632c9a159db" data-swiper-slide-index="23" style="transition-duration: 0ms; transform: translate3d(40px, 0px, -120px) rotateX(0deg) rotateY(80deg) scale(1); z-index: -3;">
                                <img src="https://books.google.com/books/content?id=kPh7swEACAAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;imgtk=AFLRE71N_RgVUUlkOnI3JoEydRG4f-8la8QzEbhaIfb7pNvYWQ1IibTSg7k5yuY7wSukI1i3TF6AMzzRlZN3blfWjZTQIViVRMspcXUZ3Vcje18-sKyTG-Aq_etgRaR1CB-XH2P1NGW0&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible" data-book-id="5d8d233554ef0632c9a159d8" data-swiper-slide-index="24" style="transition-duration: 0ms; transform: translate3d(30px, 0px, -90px) rotateX(0deg) rotateY(60deg) scale(1); z-index: -2;">
                                <img src="https://books.google.com/books/content?id=CGVDDwAAQBAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;imgtk=AFLRE70SAnFKfpAGNkbvBEsPjS7RRw4O8jVBAArIvV05XWWyvoQ3CnwT74DOHdTONYG5jeHzapTNz1mZGOIGtP9npVoOPiujknF9dTg1YGFPRFw_qk4Fj9rzhhOifPX1fjYtRyKvGKAW&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible" data-book-id="5c7c011554ef06573075262e" data-swiper-slide-index="25" style="transition-duration: 0ms; transform: translate3d(20px, 0px, -60px) rotateX(0deg) rotateY(40deg) scale(1); z-index: -1;">
                                <img src="https://books.google.com/books/content?id=f6txCwAAQBAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;imgtk=AFLRE71rHzjntyjcatWfXCtyAwSkwMqKA-RX6QWNGZStbtPxNCK4x0IbODyFflYxP5-Pk0IbtTwaLZavRXgsc9R7RcH7OgkwnPzY6r_3r62EIqG1_z1FvruuNBaARl3oji8KsXjf5z9G&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-prev" data-book-id="5bf84d1254ef062fd45f3f27" data-swiper-slide-index="26" style="transition-duration: 0ms; transform: translate3d(10px, 0px, -30px) rotateX(0deg) rotateY(20deg) scale(1); z-index: 0;">
                                <img src="https://books.google.com/books/content?id=jfoV9TYiBNUC&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;imgtk=AFLRE71aJ0fA0rSGIQY_SLU5JaM8233X3yQQgvcqe51Gt6vT2SnP8TSQIHVHRBFcpIq9mGFtM6G7s_wi28-fetF61bCWQjJkIT-k7pdJMZkTM3R9r2Nz3VnTUntYaZPkA699RXCNKjOH&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-active" data-book-id="670ff6f6ad7f5b0035787a8f" data-swiper-slide-index="0" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) scale(1); z-index: 1;">
                                <img src="https://books.google.com/books/content?id=sXp0Mymlle8C&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;imgtk=AFLRE70CE7aqj8W1NHbtiL0jqlcfvw6JCtHxfcTX-gVqlL1E9DSwHvc-XN_4aceClcC-_PMT-sSyVWPyGtVev7Quz0SQKx0EF3slHiYe555_kND-zM0q9vJW2GZVpfmk6ywgZPOEvMO1&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-next" data-book-id="66e687d5638b3a720f8ad9ca" data-swiper-slide-index="1" style="transition-duration: 0ms; transform: translate3d(-10px, 0px, -30px) rotateX(0deg) rotateY(-20deg) scale(1); z-index: 0;">
                                <img src="https://books.google.com/books/publisher/content?id=FNF1CwAAQBAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;imgtk=AFLRE70mE-NffKiUmTBM1uyDEQfyqzVDQ3rbvWIwjKky8I2OgIooNQaLXWirId5jbQD4qUzJJ8Kl7KuFFZs9XhPm1Eeb387OW9ws35toPWzmJ_KjBSBkOr169fMxgr7jpAIGBfH05lCG&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible" data-book-id="669b9ffe5bd1fc62381fc298" data-swiper-slide-index="2" style="transition-duration: 0ms; transform: translate3d(-20px, 0px, -60px) rotateX(0deg) rotateY(-40deg) scale(1); z-index: -1;">
                                <img src="https://books.google.com/books/content?id=e0x7nXrbVdkC&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;imgtk=AFLRE70u0p11PmeIYrm6MEIchk4rj2KdYxCkGxjFGmuNMrIp0qD1RE6bSToMoariNwGNkxnRpebiL7D2IzClbLXwED3-szwLLtk_202rp9VDqtPtaGjQh4xVD9Pa38MtLl9y44s9gdWk&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible" data-book-id="663f555ff890234211c2ecf6" data-swiper-slide-index="3" style="transition-duration: 0ms; transform: translate3d(-30px, 0px, -90px) rotateX(0deg) rotateY(-60deg) scale(1); z-index: -2;">
                                <img src="https://books.google.com/books/publisher/content?id=wsuXDQAAQBAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;imgtk=AFLRE73jgiM_oCDdc1u-837lSiFNGfRS1crmbpeWMMmWq8c2zohfVixz9WsBr02C1dVuUu7yje0DpNHDhqnSoApRksj09kJ1c_tUsbo1Hq89N-4gb2Pmh_RZoxqFo_m_q5hSvOrIbKsc&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide swiper-slide-visible" data-book-id="65a63ff8b07e1b1fa0a583e9" data-swiper-slide-index="4" style="transition-duration: 0ms; transform: translate3d(-40px, 0px, -120px) rotateX(0deg) rotateY(-80deg) scale(1); z-index: -3;">
                                <img src="https://books.google.com/books/publisher/content?id=8yJhEAAAQBAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;imgtk=AFLRE73e6YTbmYeK-Gy9L0exTjQIBLmK847ZwtJE9E5ekZWaF3xn5FBm__zCIcpxBDa8Y6JoGL3X4HcRBAPa2wiHYkdbTpMTIadrLf0qeGLMJKAXur_h0ew7Qg2zbqKtkl6SiVogsoyr&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide" data-book-id="652e71aeba4ab74ca02ea34c" data-swiper-slide-index="5" style="transition-duration: 0ms; transform: translate3d(-50px, 0px, -150px) rotateX(0deg) rotateY(-100deg) scale(1); z-index: -4;">
                                <img src="https://books.google.com/books/publisher/content?id=tbcSEAAAQBAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;imgtk=AFLRE72FS45gzicZo3IVPecNJjMFDwMEZcVwdQ8L7Wu0Hg_t2SHfvi4qcDULHPrt2wSvDXBihZXlCxvkcX9Z79Zzd_MpbtOUKLGVtw_5q08dwD5Sufr-nfB9SSuHhbTgGozr3_DpsSUO&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide" data-book-id="64b91d4c436d8347d65d7757" data-swiper-slide-index="6" style="transition-duration: 0ms; transform: translate3d(-60px, 0px, -180px) rotateX(0deg) rotateY(-120deg) scale(1); z-index: -5;">
                                <img src="https://books.google.com/books/publisher/content?id=G2U4EAAAQBAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;imgtk=AFLRE72Zknw_f_hogb-krB4gORDAFyMjWmbOyrQTDD1F2IrwJmUq-kF8jB6PZKr8lYIrMVr8pRJFhMPyPmjTHSZEjq9_8Wkm7PY1cQA7nm7nDSXJyw5lIkMqJbFKAVQg5aoIWOBfjbTS&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide" data-book-id="63038f3b9d52e53d76665035" data-swiper-slide-index="7" style="transition-duration: 0ms; transform: translate3d(-70px, 0px, -210px) rotateX(0deg) rotateY(-140deg) scale(1); z-index: -6;">
                                <img src="https://books.google.com/books/content?id=ZNx3zgEACAAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;imgtk=AFLRE70dTBhZR8qe0kUorQ8Z-mhOVyPi8TF7QdjNdKsnAnsxd84E5Scrs_OoyZ302REUo6Ll21VTWWgch3Yij_7prLiXgmjyn5yk3Qjjf7ZnI0ob8Cj3v_4GEEdUd-kEUjPqwyv8WIit&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide" data-book-id="62d56eb616ed7f0dee697dab" data-swiper-slide-index="8" style="transition-duration: 0ms; transform: translate3d(-80px, 0px, -240px) rotateX(0deg) rotateY(-160deg) scale(1); z-index: -7;">
                                <img src="https://books.google.com/books/content?id=6NDooAEACAAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;imgtk=AFLRE72O-3ispo-bJy8hJaNozNxcTX3u_9iGKXgaAxt0HGf0CM-uLjkkzq3pPaAuz0dvwqPvvQLayg3zq-PoJqzOFSHLZFiwTBDcnV2_3dfFbb01IJoyGyo11nTx9zVBOMg9rn9Y12QC&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide" data-book-id="6266c62950da692fde40995c" data-swiper-slide-index="9" style="transition-duration: 0ms; transform: translate3d(-90px, 0px, -270px) rotateX(0deg) rotateY(-180deg) scale(1); z-index: -8;">
                                <img src="https://books.google.com/books/publisher/content?id=fUAdDgAAQBAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;imgtk=AFLRE72dxPFE3-YWb_TAK-vivBsTCqO2QcKuuvhcNsVN2-08cIqgF1ooL1EFrpmQDfJfY-61B3ONmz2cGg7MHU8bSJQ234wIvQlyu0Y-lown8fXW0fA9q4DGKNRKd-_UCIOnOj6CXL5W&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide" data-book-id="621f6c023d97ea5c41e71f92" data-swiper-slide-index="10" style="transition-duration: 0ms; transform: translate3d(-100px, 0px, -300px) rotateX(0deg) rotateY(-200deg) scale(1); z-index: -9;">
                                <img src="https://books.google.com/books/publisher/content?id=Kn4eEAAAQBAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;imgtk=AFLRE706UL5OVF4Kcfidaa13DYnMXhIJ6mb0HXLWdcNGcPsr9CGujsPzmftZFNLALlZFQLqknk89LgyFnMLWtIpt_wgKqIpJ3TxREAFPQCZSwY4CBMr2zP4eLZFOA_hCBGsZRzrHv3b1&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide" data-book-id="6182f6f46f61a97e63db82c0" data-swiper-slide-index="11" style="transition-duration: 0ms; transform: translate3d(-110px, 0px, -330px) rotateX(0deg) rotateY(-220deg) scale(1); z-index: -10;">
                                <img src="https://books.google.com/books/publisher/content?id=GKYuEAAAQBAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;imgtk=AFLRE70U3NBxF6v0U9lp8JJZg7U_YmjK6dPfFkEhA0uEwxlz29nVLYhEFPnQAZ_3iyMqV6PWbQTGdaK7GnbZWYLo61ltIWd31hHRO7CYT_3i5ggjEmsDioVetYedYTTll_8pVen2-aDD&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide" data-book-id="61587f406f61a97e63db82bd" data-swiper-slide-index="12" style="transition-duration: 0ms; transform: translate3d(-120px, 0px, -360px) rotateX(0deg) rotateY(-240deg) scale(1); z-index: -11;">
                                <img src="https://books.google.com/books/content?id=zClhIhfximQC&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;imgtk=AFLRE71hoqPxaBL71IVoRJCgUsw95rtQmGdvWAd6_I4UXu63IpDjxodMVaDCQfH9Kz4MN_C4diTbNxwaDQ1p1ZwlVldH7FYwcDg9edm2YfFT15h3tXKjL-ustFMjmUmW22DfgH20gG8n&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide" data-book-id="6139c5af556f160a21011855" data-swiper-slide-index="13" style="transition-duration: 0ms; transform: translate3d(-130px, 0px, -390px) rotateX(0deg) rotateY(-260deg) scale(1); z-index: -12;">
                                <img src="https://books.google.com/books/content?id=OBwDg13MGkMC&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;imgtk=AFLRE71oHy5nMXFE1vTRqDMG6lu3E3vap5ay7n0Yq8fpvh4huzXaFnZrsaPgm9P5jCz8fetEdpRz4Ozf9jt43UgRgai_ir4HtuOkkYbD5QcpmrSmFZiIbaogUfnxm6k9b3kGwn4pUhcS&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide" data-book-id="60be59282447b23b12869230" data-swiper-slide-index="14" style="transition-duration: 0ms; transform: translate3d(-140px, 0px, -420px) rotateX(0deg) rotateY(-280deg) scale(1); z-index: -13;">
                                <img src="https://books.google.com/books/content?id=sRbl8DXG1lgC&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;imgtk=AFLRE72vzMh8ngrUJ43qF6WzDeC4WrNwHWXuuFqGQWNFkNgbwFP0A6M8BAuGWXlBDgucLxq2zYmI1Pf2OPzqfTZPC4cPryiyagq8j7xe38PnRHLfB-ikTr6a4XdHYakexGKH0xtjZQTx&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide" data-book-id="607af1a85df7b002ebd61587" data-swiper-slide-index="15" style="transition-duration: 0ms; transform: translate3d(-150px, 0px, -450px) rotateX(0deg) rotateY(-300deg) scale(1); z-index: -14;">
                                <img src="https://books.google.com/books/publisher/content?id=89k3DwAAQBAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;imgtk=AFLRE70Q3LtZgeJgG0VKAGXwEVKDPlQhUbQmHsVrySf4Va0PH-5ODx2u1LGSX4wCp3FtA_KhzOI4t_gZyr4mytyj0vvF_vUe0vYiafe5nmij9A8zRLXV-YHm8tWTbpBZqh9hDGyXvEB_&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide" data-book-id="605cdde85df7b002ebd61583" data-swiper-slide-index="16" style="transition-duration: 0ms; transform: translate3d(-160px, 0px, -480px) rotateX(0deg) rotateY(-320deg) scale(1); z-index: -15;">
                                <img src="https://books.google.com/books/content?id=oPKQX1ejCFsC&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;imgtk=AFLRE70mCqIqqHRn7uWHAbHyz4sfOIvM_9XVls_ntzfAu3UZOdY0P83sBW19RWPaFrYKK_gH0dOdq9I2GUi836f7f1mSQhwhGxhJN88SGbLunON7ILvzVJMXwhE2xF24leWL78TMQ8vn&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide" data-book-id="6006fbadabfea260d4bc2bf0" data-swiper-slide-index="17" style="transition-duration: 0ms; transform: translate3d(-170px, 0px, -510px) rotateX(0deg) rotateY(-340deg) scale(1); z-index: -16;">
                                <img src="https://books.google.com/books/content?id=1u7PRB5g6FYC&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;imgtk=AFLRE723pkgli9I4sItQ76kzreY90JUevlLBjVTCdYEgD_APrABgy-P51b8a8WCsCTjQb6q9lGspFkzH9i8umaPEfloX2AOU0dLEH-Y2WifYSDADrnlBjQPwaVP52vQKm7mLDilWD5pf&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide" data-book-id="5fc3b289f76aa72a25367bb2" data-swiper-slide-index="18" style="transition-duration: 0ms; transform: translate3d(-180px, 0px, -540px) rotateX(0deg) rotateY(-360deg) scale(1); z-index: -17;">
                                <img src="https://books.google.com/books/content?id=0cH0AAAAQBAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;edge=curl&amp;imgtk=AFLRE72XxgnSviOmw9PdtKwS_bdv62_YRQhqXhcww46o2jecwJYwRANwJusdf6zunn2kB9SLm5HSK71DB3lVF2yKIcg_YlUDqoq0A8TYbpMkJF7qLuxw4dxdxVUY9s1KWj-WCGohcbju&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide" data-book-id="5f5cf9da91c2973034bd9443" data-swiper-slide-index="19" style="transition-duration: 0ms; transform: translate3d(-190px, 0px, -570px) rotateX(0deg) rotateY(-380deg) scale(1); z-index: -18;">
                                <img src="https://books.google.com/books/content?id=76TDCQAAQBAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;imgtk=AFLRE71YchskCYlLyk7-vzbN-VkpmST_NH4v6XpjiaNGOzoompHeuO9JOJOMi-3A3StL57RiWcvY8GSiu2HJSNjTgST5u0G3icPxgj7JPt0zAYi0DXJbRPih-SyfZIQWNfG-GX9uiXJW&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide" data-book-id="5ef1debee8e51c6be5a68ba1" data-swiper-slide-index="20" style="transition-duration: 0ms; transform: translate3d(-200px, 0px, -600px) rotateX(0deg) rotateY(-400deg) scale(1); z-index: -19;">
                                <img src="https://books.google.com/books/content?id=IcwYxQAnhaUC&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;imgtk=AFLRE73uvXhhgLBz8mjYX2g57PrgEqQvgp_Pgg1d8utH1keGh7kNSOS25KhilNfalk3l3SIHsvIjQMUmtToTZXOXmivDQWZkvdYe10ocetWnNZHpld4faMVxt9rRna4rWTKAh_6tf8uV&amp;source=gbs_api" loading="lazy">
                            </div>
                            <div class="swiper-slide" data-book-id="5ec2dd682fafe5604126450f" data-swiper-slide-index="21" style="transition-duration: 0ms; transform: translate3d(-210px, 0px, -630px) rotateX(0deg) rotateY(-420deg) scale(1); z-index: -20;">
                                <img src="https://books.google.com/books/content?id=t61lwAEACAAJ&amp;printsec=frontcover&amp;img=1&amp;zoom=1&amp;imgtk=AFLRE73LwSC7Jb81dJRuSVeLFspQYFqW847oZWJNZM5jwRClCNzmrGGjG7bZeSbsNipuDknF0v7AhNw3c4cK_iSlIN7Bylaa0N0T1QExFVjKTr_BPwbmEoTHLv0TtUI7mmXGYm8V6xp6&amp;source=gbs_api" loading="lazy">
                            </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <p class="text-center">Books recently reviewed on The Cloudy Book Club with a great rating</p>
                    <div id="rating-selection" class="text-center">
                        <div role="group" class="btn-group">
                            <input class="btn-check" name="radio-great" type="radio" autocomplete="off" id="radio-great" value="great" checked="">
                            <label tabindex="0" for="radio-great" class="btn btn-outline-primary">Great books</label>
                            <input class="btn-check" name="radio-good" type="radio" autocomplete="off" id="radio-good" value="good">
                            <label tabindex="0" for="radio-good" class="btn btn-outline-primary">Good books</label>
                            <input class="btn-check" name="radio-ok" type="radio" autocomplete="off" id="radio-ok" value="ok">
                            <label tabindex="0" for="radio-ok" class="btn btn-outline-primary">OK books</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <section class="container mb-3" th:replace="~{common/footer::footer}" >
        The <a class="ms-1 me-1" href="./common/footer.html">Footer</a> Goes Here
    </section>

</div>
</body>
</html>