<!DOCTYPE html>
<html lang="en-GB" th:fragment="layout (title, content, fluid)" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:replace="${title}">The Cloudy Book Club</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Aidan Whiteley" name="author">
    <meta content="Cloudy Book Club" name="keywords">
    <meta content="Books read recently (so I don't buy them again!)" name="description">
    <meta name="htmx-config" content='{"selfRequestsOnly": true, "allowScriptTags": false, "allowEval": false, "includeIndicatorStyles": false  }' >
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="../static/css/bootstrap-icons.min.css" rel="stylesheet" th:href="@{/css/bootstrap-icons.min.css}">
    <link href="../static/css/swiper.min.css" rel="stylesheet" th:href="@{/css/swiper.min.css}">
    <link href="../static/css/tom-select.css" rel="stylesheet" th:href="@{/css/tom-select.css}">
    <link href="../static/css/toastify.min.css" rel="stylesheet" th:href="@{/css/toastify.min.css}">
    <link href="../static/css/simple-data-tables.css" rel="stylesheet" th:href="@{/css/simple-data-tables.css}">
    <link href="../static/css/books-app.css" rel="stylesheet" th:href="@{/css/books-app.css}">
    <script src="../static/js/htmx-2.0.4.min.js" th:src="@{/js/htmx-2.0.4.min.js}" defer></script>
    <script src="../static/js/htmx-response-targets-2.0.3.min.js" th:src="@{/js/htmx-response-targets-2.0.3.min.js}" defer></script>
    <script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}" defer></script>
    <script src="../static/js/toastify-js.min.js" th:src="@{/js/toastify-js.min.js}" defer></script>
    <script src="../static/js/swiper-bundle.min.js" th:src="@{/js/swiper-bundle.min.js}" defer></script>
    <script src="../static/js/tom-select.base.min.js" th:src="@{/js/tom-select.base.min.js}" defer></script>
    <script src="../static/js/buttons.min.js" th:src="@{/js/buttons.min.js}" async defer></script>
    <script src="../static/js/books.js" th:src="@{/js/books.js}" defer></script>
    <script th:if="${!#strings.isEmpty(@environment.getProperty('books.analytics.umami.websiteId'))}"
            src="../static/js/stats.js" th:src="@{/js/stats.js}"
            th:data-website-id="${@environment.getProperty('books.analytics.umami.websiteId')}"
            th:data-do-not-track="${@environment.getProperty('books.analytics.umami.doNotTrack')}"
            th:data-domains="${@environment.getProperty('books.analytics.umami.domains')}"
            th:data-host-url="${@environment.getProperty('books.analytics.umami.host-url')}" defer></script>
</head>
<body hx-boost="false" hx-ext="response-targets" hx-history="false">
    <div id="root">

        <section class="navbar navbar-expand-xl navbar-light bg-light sticky-top" data-bs-theme="light"
                 th:replace="~{common/nav :: cloudy-nav}">
            <div class="container justify-content-start">The <a class="ms-1 me-1" href="./common/nav.html">Nav Bar</a> goes
                here
            </div>
        </section>

        <section id="main-content">
            <div class="container" th:class="${fluid}? 'container-fluid' : 'container'">
                <div class="row d-flex align-items-center">
                    <div id="detail" th:replace="${content}">
                        <p>The main content will go here</p>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <section class="container mb-3" th:replace="~{common/footer :: cloudy-footer}">
            The <a class="ms-1 me-1" href="./common/footer.html">Footer</a> goes here
        </section>

    </div>


</body>

</html>