<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.mongodb" level="WARN"/>
    <logger name="org.apache.catalina" level="WARN"/>
    <logger name="com.aidanwhiteley" level="WARN"/>
    <logger name="com.aidanwhiteley.books.controller.aspect" level="WARN" />
    <logger name="com.aidanwhiteley.books.util.MailClient" level="WARN" />
    <logger name="com.icegreen.greenmail" level="WARN" />
    <logger name="com.aidanwhiteley.books.service.SignUpNotificationService" level="WARN"/>
    <logger name="com.aidanwhiteley.books.repository.GoogleBooksDaoAsync" level="WARN"/>
    <logger name="io.github.azagniotov.stubby4j" level="WARN"/>
    <logger name="io.github.azagniotov.stubby4j.stubs.StubMatcher" level="OFF"/>
</configuration>