<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [%thread] %-5level %logger{75} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.web.servlet.mvc.method.annotation" level="ERROR" />
    <logger name="org.springframework.security.web" level="WARN" />"

    <!-- See https://github.com/aidanwhiteley/books/issues/86  -->
    <logger name="org.springframework.data.convert.CustomConversions" level="ERROR" />

    <logger name="org.mongodb" level="WARN"/>
    <logger name="com.icegreen.greenmail" level="WARN" />
    <logger name="de.bwaldvogel.mongo" level="WARN"/>
    <logger name="com.netflix.config" level="WARN"/>
    <!-- Not using Netflix Archaius / config server -->
    <logger name="com.netflix.config.sources.URLConfigurationSource" level="ERROR" />
    <logger name="org.springframework.cloud.netflix.archaius.ArchaiusAutoConfiguration" level="ERROR" />

    <logger name="com.aidanwhiteley" level="WARN"/>
    <logger name="com.aidanwhiteley.books.controller" level="WARN" />
    <logger name="com.aidanwhiteley.books.service.SignUpNotificationService" level="WARN"/>
    <logger name="com.aidanwhiteley.books.repository.GoogleBooksDaoSync" level="WARN"/>
    <logger name="com.aidanwhiteley.books.repository.GoogleBooksDaoAsync" level="WARN"/>
    <logger name="com.aidanwhiteley.books.repository.GoogleBookDaoAsyncTest" level="WARN"/>
    <logger name="com.aidanwhiteley.books.util.MailClient" level="WARN" />
    <!-- Dont want Actuator user JWT printed to test logs -->
    <logger name="com.aidanwhiteley.books.util.JwtAuthenticationUtils" level="ERROR"/>

    <logger name="org.apache.catalina" level="WARN"/>
    <logger name="org.apache.tomcat.util.modeler.Registry" level="ERROR"/>

    <!-- Not interested in errors trying to register with Spring Boot Admin instance in tests -->
    <logger name="de.codecentric.boot.admin.client.registration.ApplicationRegistrator" level="ERROR"/>

    <!-- WireMock is a bit "noisy" on the logging front! -->
    <logger name="wiremock.org.eclipse.jetty" level="WARN" />
    <logger name="com.github.tomakehurst.wiremock" level="WARN" />
    <logger name="WireMock" level="WARN"/>
    <logger name="/" level="WARN"/>
    <logger name="org.eclipse.jetty.util.thread.QueuedThreadPool" level="WARN" />
    <logger name="wiremock.org.eclipse.jetty.util.thread.QueuedThreadPool" level="ERROR" />
    <logger name="org.springframework.cloud.contract.wiremock" level="WARN" />

    <!-- Setting to ERROR to suppress message on CI test platform of
    WARN <classname> - Acceptors should be <= availableProcessors: NetworkTrafficServerConnector
    which is from the @AutoConfigureWireMock configured WireMock test stub server -->
    <logger name="wiremock.org.eclipse.jetty.server.AbstractConnector" level="ERROR" />
</configuration>