<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.web.servlet.mvc.method.annotation" level="ERROR" />

    <!-- Temporarily setting to ERROR - see https://github.com/aidanwhiteley/books/issues/86  -->
    <logger name="org.springframework.data.convert.CustomConversions" level="ERROR" />

    <logger name="org.mongodb" level="WARN"/>
    <logger name="com.icegreen.greenmail" level="WARN" />
    <logger name="springfox.documentation" level="WARN"/>
    <logger name="de.bwaldvogel.mongo" level="WARN"/>

    <logger name="com.aidanwhiteley" level="WARN"/>
    <logger name="com.aidanwhiteley.books.controller" level="WARN" />
    <logger name="com.aidanwhiteley.books.service.SignUpNotificationService" level="WARN"/>
    <logger name="com.aidanwhiteley.books.repository.GoogleBooksDaoAsync" level="WARN"/>
    <logger name="com.aidanwhiteley.books.repository.GoogleBookDaoAsyncTest" level="WARN"/>
    <logger name="com.aidanwhiteley.books.util.MailClient" level="WARN" />

    <logger name="org.apache.catalina" level="WARN"/>
    <logger name="org.apache.tomcat.util.modeler.Registry" level="ERROR"/>

    <!-- Not interested in errors trying to register with Spring Boot Admin instance in tests -->
    <logger name="de.codecentric.boot.admin.client.registration.ApplicationRegistrator" level="ERROR"/>

    <!-- WireMock is a bit "noisy" on the logging front! -->
    <logger name="wiremock.org.eclipse.jetty" level="WARN" />
    <logger name="com.github.tomakehurst.wiremock" level="WARN" />
    <logger name="WireMock" level="WARN"/>
    <logger name="/" level="WARN"/>
    <logger name="org.eclipse.jetty.util.thread.QueuedThreadPool" level="WARN" />
    <logger name="wiremock.org.eclipse.jetty.util.thread.QueuedThreadPool" level="ERROR" />
    <logger name="org.springframework.cloud.contract.wiremock" level="WARN" />
</configuration>